.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    width: 50%;
    padding: 1rem;
    border-radius: 15px;
}

.payment-homepage {
    width: 65%;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 15px;
}

.payment-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}