{% from "macros.html" import navbar %}
{% extends "base.html" %}

{% block title %}Tutor App{% endblock %}

{% block main %}
    {{ navbar() }}
    <link rel="stylesheet" href="../static/css/homepage.css">
    <div class="d-flex flex-column justify-content-start align-items-center" style="background-image: url('../static/adam-winger-UFG04g43hqs-unsplash.jpg'); background-size: 100%; width: 100vw; height: 100vh;">
        <div class="welcome-container">
            <h1 class="display-4">San Carlos Micro School</h1>
            <h2>reliable, timely, quality tutoring</h2>
            <h2>at the click of your fingers</h2>
        </div>
    </div>
{% endblock %}