{% from "macros.html" import navbar %}
{% extends "base.html" %}

{% block title %}Tutor App{% endblock %}

{% block main %}
    {{ navbar() }}

    <div>
        <div class="d-flex flex-row">
            <h1>San Carlos Microschool</h1>
            <div>
                <p>We are a micro school located on the San Carlos Apache Indian Reservation in 
                    <strong>
                        San Carlos, Arizona.
                    </strong>
                </p>
                <button class="heroBtn">ENROLL NOW</button>
            </div>
        </div>
        <img src="../static/stock_photos/writing_close_up_01.png">
        <div>
            <div>
                <h1>What we offer</h1>
            </div>
            <div>
                <div>
                    <img width="250px" src="../static/stock_photos/family_working_together.png">
                    <h3>High Quality Tutors</h3>
                    <p>risus quis varius quam quisque id diam vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetu adipiscing elit duis tristique sollicitudin</p>
                </div>
                <div>
                    <img width="250px" src="../static/stock_photos/homeschool_work_group.png">
                    <h3>Remote or In-Person</h3>
                    <p>risus quis varius quam quisque id diam vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetu adipiscing elit duis tristique sollicitudin</p>
                </div>
                <div>
                    <h3>Reliably Low Pricing</h3>
                    <img width="250px" src="../static/stock_photos/working_in_library.png">
                    <p>risus quis varius quam quisque id diam vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetu adipiscing elit duis tristique sollicitudin</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}